{% extends 'animalerie/template.html' %}
{% block content %}
<div class="page-header">
  <div class="card">
    <div class="header">
      <h2>Bienvenue à l'animalerie !</h2>
    </div>
    <div class="card-body">
      <p>Ce projet a été réalisé pour l'<b>approfondissement de I2</b>.</p>
      <p>Le principal fonctionne : la logique avec le modèle MVC est implémentée et il est possible d'ajouter des animaux (et leurs jolies photos !) depuis le <b>pannel d'administration.</b></p>
      <p>Le site a été programmé avec un template personnel grandement inspiré de bootstrap, mais le responsive est majoritairement géré par des flexbox. Bootsrap est finalment là pour les jolis boutons et les modals !</p>
    </div>
  </div>
  <div class="card">
      <div class="header">
        <h2>Les animaux</h2>
      </div>
      <div class="card-body">
    <!-- <div class="container"> -->
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center;">
        {% for animal in animals %}
          <!-- <div class="col-md-3"> -->
            <div style="display: flexbox;width: 280px;">
              <div class="card">
                <img class="card-img-top" data-src="{{animal.photo}}" alt="Image" style="height: 150px; width: 100%; display: block;object-fit: cover;" src="
                {% if animal.photo == '#' %}
                  https://www.thoiry.net/sites/thoiry.net/files/2018-02/loutre1600x800.jpg
                {% else%}
                  {{animal.photo}}
                {% endif %}"
                data-holder-rendered="true">
                <div class="card-body">
                  <span class="card-text"><b>{{animal.id_animal}}</b></span>
                  <p><span class="card-text">{{animal.etat|capfirst}},</span>
                  <span class="card-text">{{animal.lieu|capfirst}}</span>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" data-toggle="modal" data-target=".modal_{{animal.id_animal}}" class="btn btn-sm btn-outline-primary" href="{% url 'animal_detail' id_animal=animal.id_animal %}">View</button>
                      <a class="btn btn-sm btn-outline-success" href="{% url 'animal_detail' id_animal=animal.id_animal %}">Edit</a>
                    </div>
                    <small class="text-muted">{{ animal.race|capfirst }}</small>
                  </div>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <div class="modal fade modal_{{animal.id_animal}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header" style="background-color: var(--head-color);color:white;"><h2>{{ animal.id_animal }}</h2></div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="card-body col-lg-7" >
                          <h2 class="card-text"> Informations</h2>
                          <p><b>{{ animal.id_animal }}</b> est un {{ animal.race }} de type {{ animal.type }}</p>
                          <h2>État</h2>
                          <p><b>{{ animal.etat|capfirst }}</b></p>
                          <h2>Lieu</h2>
                          <p><b>{{ animal.lieu|capfirst }}</b></p>
                      </div>
                      <div class="card-body col-lg-5">
                          <img src="{% if animal.photo == '#' %}https://www.thoiry.net/sites/thoiry.net/files/2018-02/loutre1600x800.jpg
                          {% else%}
                            {{animal.photo}}
                          {% endif %}" style="height: auto; width: 100%; display: block;object-fit: cover;" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    <!-- </div> -->
    </div>
  </div>
  
  <div class="card">
    <div class="header">
      <h2>Les équipements !</h2>
    </div>
    <div class="card-body">
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: center;box-sizing: border-box;max-width: 100%;">
      {% for lieu in equipements %}
      <div style="display: flexbox;width: 400px;max-width: 100%;">
        <div class="card">
          <div class="header" style="max-width: 100%;display: flex;overflow: hidden;">
            <h2 style="display:inline-flex;">{{ lieu.id_equip|capfirst }}</h2>
            <small class="d-flex justify-content-between align-items-center btn-sm
            {% if lieu.disponibilite == 'libre' %}
              btn-success
            {% else%}
              btn-danger
            {% endif %}" style="height: 100%;margin:auto;display: flex!important;color:white;justify-content: space-between!important;">{{ lieu.disponibilite|capfirst }}</small>
          </div><img class="card-img-top" src="{{ lieu.photo }}" style="height: 200px;object-fit: cover;" />
          <div class="card-body" style="box-sizing: border-box;overflow: hidden;">
            
              <div class="align-items-center" style="overflow: scroll;">
                <!-- <div class="btn-group">
                  <button class="btn btn-sm btn-outline-success" >Marquer comme libre</button>
                </div> -->
                {% for animal in animals %}
                  {% if animal.lieu.id_equip == lieu.id_equip %}
                    <small class="text-muted" style="margin:0 5px;">{{ animal|capfirst }} </small>
                  {% endif %}
                {% endfor %}
              </div>
            
          </div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
</div>





</div>


{% endblock %}